header {
  border-bottom: 2px solid grey;
  background-color: var(--dark);
}

nav{
  display: flex;
  align-items: center;
  padding: 12px;

}
nav img{
  width: 90px;
}
.menu-nav li a:hover{
 color: #cda6ff;
  text-shadow: 0 0 8px #6f2bff;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light);
  flex-basis: 80%;
}
 
.hero {
  min-height: 100vh;
}


nav {
  margin-left: auto;
}

.ul-menu{
  display: flex;
  list-style: none;
  font-weight: bold;
}

.li-menu + li{
  padding-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
.ul-menu a.active {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #22ADED, #AF56DB) 1;
  padding-bottom: 3px;
}