
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
}
:root {
  --f-5-min: 30;
  --f-5-max: 120;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp));
}
*{
  margin: 0;
}
#smooth-wrapper {
  top: 50px !important; 
}
/***** nav****/
header {
  border-bottom: 2px solid grey;
  background-color: var(--dark);
}
 
nav{
  display: flex;
  align-items: center;
  padding: 12px;

}
.logo a:hover{
  color: violet;
  text-decoration: none;
}
.menu-nav li a:hover{
  color: violet;
  text-decoration: none;
}
/*
header {
  border-bottom: 2px solid grey;
  position: fixed;
  background-color: var(--dark);
}

nav{
  display: flex;
  align-items: center;
  padding: 12px; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}*/
.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light);
  flex-basis: 80%;
}

.hero {
  min-height: 100vh;
}


nav {
  margin-left: auto;
}

.ul-menu{
  display: flex;
  list-style: none;
  font-weight: bold;
}

.li-menu + li{
  padding-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
/***Primer section***/
h1 {
  position: relative;
  font-size: var(--step-5);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 20px #6f2bff;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  margin-top: 2rem;
}

.imagenes-home {
  width: 420px;
  height: 80vh;
  object-fit: cover;
  margin-top: 100px;
}

.clamp {
  position: relative;
  z-index: -1;
  font-family: 'Unbounded', sans-serif;
}

.yt {
  font-family: 'Unbounded', sans-serif;
  z-index: 3;
}
.p-yt {
  justify-content: center;
  text-align: center;
  z-index: 3;
  font-weight: none;
}


.heading {
  position: relative;
  z-index: 2;
  mix-blend-mode:color-dodge;
  perspective: 1000px;
  transform: rotate(0.1deg);
}

.images {
  z-index: -1
}


/******* Segundo Section ****/
.articulos-servicios{
  display: flex;
  gap: 150px;
  justify-content: center;
}

.borde-titulo{
  display: flex;
  justify-content: center;
}

.borde-titulo h2{
  color: #fff;
  border: rgb(175, 87, 175);
  border-bottom: 5px solid rgb(175, 87, 175);
  font-weight: bold;
  width: 360px;
  text-shadow: 0 0 10px #9c2bff;
  font-size: 4rem;
  text-align: center;
}

/* ===== Animación 2: tarjetas (scale-in) ===== */
.anim-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 100px;
  padding: 60px 90px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-items: center;
}

/* Estado inicial para que GSAP anime desde aquí */
.card, .anim-scale {
  background: #0b0b0d;
  width: 100%;
  max-width: 350px;
  padding: 80px;
  border-radius: 20px;
  border: 1px solid #6f2bff;
  box-shadow: 0 0 20px rgba(162, 93, 255, 0.3);
  text-align: center;
  transition: 0.3s;
  will-change: transform, opacity;
  opacity: 0;                
  transform: scale(0.8);
  transition: box-shadow .2s ease;
}
.boton-servicios{
  background: linear-gradient(90deg, #a56fff, #6f2bff);
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.boton-servicios:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #a56fff;
}
/* pequeño hover para feedback (opcional) */
.card:hover {
  box-shadow: 0 14px 40px rgba(125, 60, 255, 0.18);
}

/* Responsive: reduce padding en móviles */
@media (max-width: 480px) {
  .card {
    padding: 20px;
    font-size: 16px;
  }
  .anim-section {
    padding: 40px 12px;
    gap: 20px;
  }
}

.texto-servicios{
  font-size: 1.2rem;
}

/****Tercer Section***/
.div-informacion {
    margin-top: 100px;
    background-color: #0a0a0a;
    /* height: 220PX; */
    text-align: center;
    padding: 80px;
}
.counter{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.counter .row > div {
  background: #0a0a0a;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(253, 68, 207, 0.1);
  text-align: center;
  border:violet;
  transition: transform .3s ease, box-shadow .3s ease;
  width: 200px;
}

.counter .row > div:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 35px rgba(253, 68, 207,0.3);
}
.counter .row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.img-block img {
  width: 70px;
  margin-bottom: 10px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

.counter-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.plus-elem {
  font-size: 38px;
  font-weight: 700;
  color: #9c5bff;
  margin: 0;
}

.counter-count {
  font-size: 42px;
  font-weight: 700;
  color: #ffff;
  margin: 0;
  opacity: 0;
}

.counter-bar {
  margin: 10px 0px 12px;
  width: 100%;
  border: none;
  height: 3px;
  border-radius: 10px;
  background: #9c5bff;
}

.quote-title {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-top: 8px;
}

/****** Servicios ****/
h2 {
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #6f2bff;
}

.tittle-contact {
  height: 230px;
  background-image: url('img/fondo-formularios.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicios-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px;
  flex-wrap: wrap;
}

.servicio-card {
  background: #0b0b0d;
  width: 60%;
  max-width: 350px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #6f2bff;
  box-shadow: 0 0 20px rgba(162, 93, 255, 0.3);
  text-align: center;
  transition: 0.3s;
}

.servicio-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 35px rgba(162, 93, 255, 0.6);
}

.servicio-icon {
  width: 100px;
  margin-bottom: 20px;
  color: #c67fff;
}

.servicio-titulo {
  font-size: 28px;
  margin-bottom: 15px;
  color: #cda6ff;
}


.servicio-texto {
  font-size: 16px;
  opacity: 0.85;
  line-height: 1.6;
  margin-bottom: 25px;
}

.servicio-btn {
  background: linear-gradient(90deg, #a56fff, #6f2bff);
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.servicio-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a56fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .servicio-card {
    width: 85%;
  }
}
/****** Contacto*****/

/* --- Layout principal --- */
.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 5%;
}

.d-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    align-self: flex-start;
}

.intro-text {
    width: 80%;
    text-align: left;
    font-size: 18px;
    opacity: 0.8;
}

form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    margin-top: 30px;
}

input, textarea {
    width: 100%;
    padding: 14px;
    background: #0c0c0f;
    border: 2px solid #6f2bff;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    resize: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 12px #a56fff;
    border-color: #a56fff;
}

.boton-contacto {
    width: 50%;
    padding: 14px;
    background: linear-gradient(90deg, #a56fff, #6f2bff);
    border: none;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.boton-contacto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #a56fff;
}

.d-contacto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.card-contacto {
    background: #0b0b0d;
    padding: 40px;
    width: 60%;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #6f2bff;
    box-shadow: 0 0 20px rgba(162, 93, 255, 0.3);
    transition: 0.3s;
}

.card-contacto:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 35px rgba(162, 93, 255, 0.6);
}

.card-contacto h6 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-contacto p {
    font-size: 16px;
    opacity: 0.8;
}

/******Footer******/
footer {
  background: #0a0a0a;
  color: #ffffff;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
}
footer > div:first-child {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
}

footer img {
  border-radius: 20px;
  margin-bottom: 20px;
  width: 180px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li:first-child {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 15px;
  color: #9c5bff; /* color lila tecnológico */
}

footer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
  font-size: 15px;
}

footer ul li svg {
  width: 22px;
  height: 22px;
}

footer > div:last-child {
  max-width: 1200px;
  margin: 30px auto 0;
  padding-top: 20px;
  border-top: 1px solid #444;
  color: #cccccc;
  font-size: 14px;
  display: flex;
  gap: 40px;

}

footer > div:last-child p:hover {
  color: #9c5bff;
}
footer svg {
  fill: #ffffff;
  stroke: #ffffff;
}